main {
    padding: 40px 20px;
    text-align: center;
}


.imgGral {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 20px;
    color: #FFFFFF;
}
.testimonio {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #D4AF37;
    margin-bottom: 20px;
}

.testimonio1 {
    font-weight: bold;
    color: #FFFFFF;
}