/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #2C2C2C;
    color: hsl(0, 82%, 78%);
}

/* Estilos para el header */
header {
    background-color: #1A1A40;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    background-color: #2C2C2C;
    color: #D4AF37; 
    font-size: 3rem;
    font-weight: bold;
}

header h2 {
    color: #D4AF37;
    font-size: 1.5rem;
}

/* Estilos para el logo */
.logoimg {
    max-width: 150px;
    margin-bottom: 20px;
}

/* Barra de navegación */
nav {
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: 0 15px; 
}

.nav-link {
    color: #D4AF37; 
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: #FFFFFF;
    background-color: #D4AF37; 
    border-radius: 5px;
}

.nav-link:focus, .nav-link:active {
    text-decoration: none;
}


main {
    padding: 40px 20px;
    text-align: center;
}


.imgGral {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 20px;
    color: #FFFFFF;
}


footer {
    background-color: #1A1A40;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}


.testimonio {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #D4AF37;
    margin-bottom: 20px;
}

.testimonio1 {
    font-weight: bold;
    color: #FFFFFF;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }
    header h2 {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .imgGral {
        width: 90%;
    }
}
